* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Trebuchet MS';
    background:rgb(200, 200, 200);
    margin: 0px;
}
ul{
    list-style: none;
}
.nav {
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 0;
    background-color:#000217;
    box-shadow: -0px 1px 5px #3fa9f5;
}
.nav a{
    float: left;
    display: block;
    color: #3fa9f5;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 20px;
}
.nav a h1{
    margin: 10px;
    padding: 0 20px;
}
.nav a:hover {
    background-color: #3e3e52;
    color: #3fa9f5;
    transition: ease-in-out 0.2s;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:#000217;
    box-shadow: 1px 0px 5px #3fa9f5;
}
footer a{
    color: #3fa9f5;
    text-decoration: none;
    font-size: 15px;
    padding: 32.5px;
    font-weight: bold;
}
footer a:hover{
    background-color: #3e3e52;
    color: #3fa9f5;
    transition: ease-in-out 0.2s;
}
.posição_link_footer{
    display: flex;
}

.botao_topo{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
section div img{
    height:200px;
    max-width: 100%;
}
.propagandas{
    height: 100%;
}
.posição_central{
    display: flex;
    justify-content: center;
}
.posição_aos_lados{
    display: flex;
    justify-items: center;
    align-items: center;
}
.subtitulo{
    font-size: 14px;
}
p{
    display: flex;
    flex-wrap: wrap;  
    margin-left: 5px;
    text-align: justify;
}
#imagem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    height: 200px;
}
.mais_acessados li{
    padding: 5px;
    text-align: justify;
    font-weight: bold;
}
#coluna_esquerda {   
    float: left;
    width: 60%;
    margin-left: 5%;
} 
#coluna_direita {
    float: left;
    width: 30%;
    background-color: transparent;
    margin-right: 5%;
} 
.moldura {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000217;
    margin: 30px;
}
.moldura a{
    text-decoration: none;
    color:#000217;
}
.moldura a:hover{
    color:#3fa9f5;
}
/* noticias */
.titulolink{
    text-decoration: none;
    color: #000217;
}
.titulolink:hover{
    text-decoration: none;
    color: #3fa9f5;
}
.zoomlink a{
    text-decoration: none;
    color: #3fa9f5; 
}
.zoomlink a:hover{
    text-decoration: underline;
    color: #3fa9f5;
}
ul li{
   list-style-type: disc;
}
/*Sobre*/
#logo_fundo{
    background-color: #000217;
    border-radius: 25px;
}

@media screen and (max-width: 1200px) {
    .posição_aos_lados{ 
        display: block;
    }
}
@media screen and (max-width: 890px) {
    #coluna_esquerda, #coluna_direita {   
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .nav a {
        width: 100%;
      }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}