*{
    padding: 0%;
    margin: 0%;
}
.cabeçalho{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 1920px;
    background-color:#000217;
    box-shadow: -0px 1px 5px #3fa9f5;
}
.logo{
    position: absolute;
    display: flex;
    height: 70px;
    width: 290px;
    top: 0px ;
    left: 300px;
    align-items: center;
    justify-items: center;
}
.Nome_do_site{
    color: #3fa9f5;
    position: absolute;
    display: flex;
    height: 70px;
    width: 150px;
    top: 0px ;
    left: 375px;
    align-items: center;
    justify-items: center;
    font-family: 'Trebuchet MS';
}
.notícias{
    font-weight: lighter;
}
.link_logo{
    text-decoration: none;
    color: #3fa9f5 ;
}
.link_sobre{
    position: absolute;
    display: flex;
    height: 70px;
    width: 100px;
    top: 0px ;
    left: 275px;
    background-color: burlywood;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3fa9f5 ;
    font-size: 16px;
}