* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    background:rgb(200, 200, 200);
    min-width: 10 0px;
}
  
.nav {
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 0;
    background-color:#000217;
    box-shadow: -0px 1px 5px #3fa9f5;
}

.nav a{
    float: left;
    display: block;
    color: #3fa9f5;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 20px;
}

.nav a h1{
    margin: 10px;
    padding: 0 20px;
}

.nav a:hover {
    background-color: #3e3e52;
    color: #3fa9f5;
}
 
@media screen and (max-width: 400px) {
    .nav a {
      float: none;
      width: 100%;

    }
}

.footer{
    overflow: hidden;
    width: 100%;
    background-color:#000217;
    box-shadow: 1px 0px 5px #3fa9f5;
}

.footer img{
    float: left;
    display: block;
    left: 1px;
}

.footer a{
    float: left;
    display: block;
    color: #3fa9f5;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 2%;
    margin: 20px;
}

.footer a:hover{
    background-color: #3e3e52;
    color: #ffffff;
}

.botaotopo{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}


/* 
Conteudo place holder pra ver como fica a página
            apagar após finalizar
*/
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
  }
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
